{
  "openapi": "3.1.0",
  "info": {
    "title": "Partiful remote API contract",
    "version": "2026-08-12.4",
    "description": "Proposed remote-only transport snapshot pending delegated review. Evidence classifications and uncertainty are recorded in spec/partiful.api-evidence.json."
  },
  "servers": [
    {
      "url": "https://api.partiful.com",
      "description": "Partiful callable service"
    }
  ],
  "paths": {
    "/createEvent": {
      "post": {
        "operationId": "createEvent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "params",
                      "userId"
                    ],
                    "properties": {
                      "params": {
                        "type": "object",
                        "properties": {
                          "event": {
                            "$ref": "#/components/schemas/EventDraft"
                          },
                          "cohostIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "ticketTypes": {},
                          "promoCodes": {},
                          "affiliateId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "event",
                          "cohostIds"
                        ]
                      },
                      "userId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "deviceInfo": {
                        "type": "object",
                        "additionalProperties": true
                      },
                      "amplitudeDeviceId": {
                        "type": "string"
                      },
                      "amplitudeSessionId": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "adminAccessRequested": {
                        "type": "boolean",
                        "const": true
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generic callable protocol completion. The current client uses decoded completion data as an event ID; persisted event state is not established.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEventCompletionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unobserved response status or body."
          }
        },
        "security": [
          {
            "firebaseBearer": []
          }
        ]
      }
    },
    "/cancelEvent": {
      "post": {
        "operationId": "cancelEvent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "params",
                      "userId"
                    ],
                    "properties": {
                      "params": {
                        "type": "object",
                        "properties": {
                          "eventId": {
                            "type": "string"
                          },
                          "cancellationMessage": {
                            "type": "string"
                          },
                          "shouldSkipNotifyGuests": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "eventId",
                          "cancellationMessage",
                          "shouldSkipNotifyGuests"
                        ]
                      },
                      "userId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "deviceInfo": {
                        "type": "object",
                        "additionalProperties": true
                      },
                      "amplitudeDeviceId": {
                        "type": "string"
                      },
                      "amplitudeSessionId": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "adminAccessRequested": {
                        "type": "boolean",
                        "const": true
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generic callable protocol completion. The current client inspects no endpoint business field; cancellation and notification delivery are not established.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelEventCompletionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unobserved response status or body."
          }
        },
        "security": [
          {
            "firebaseBearer": []
          }
        ]
      }
    },
    "/getEventInfo": {
      "post": {
        "operationId": "getEventInfo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "params",
                      "amplitudeDeviceId"
                    ],
                    "properties": {
                      "params": {
                        "type": "object",
                        "properties": {
                          "eventId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "eventId"
                        ]
                      },
                      "amplitudeDeviceId": {
                        "type": "string"
                      },
                      "amplitudeSessionId": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "userId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Observed selected readable event response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEventInfoResponse"
                }
              }
            }
          },
          "404": {
            "description": "Observed synthetic missing event response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallableNotFoundError"
                }
              }
            }
          },
          "default": {
            "description": "Unobserved response status or body."
          }
        },
        "security": [
          {
            "firebaseBearer": []
          }
        ]
      }
    },
    "/getContacts": {
      "post": {
        "operationId": "getContacts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "params",
                      "amplitudeDeviceId",
                      "paging"
                    ],
                    "properties": {
                      "params": {
                        "type": "object",
                        "properties": {
                          "useAuthUser": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      },
                      "amplitudeDeviceId": {
                        "type": "string"
                      },
                      "amplitudeSessionId": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "userId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "paging": {
                        "type": "object",
                        "required": [
                          "maxResults",
                          "cursor"
                        ],
                        "properties": {
                          "maxResults": {
                            "type": "integer",
                            "const": 1000
                          },
                          "cursor": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Observed authenticated cursor page response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContactsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Observed signed-out response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallableUnauthenticatedError"
                }
              }
            }
          },
          "default": {
            "description": "Unobserved response status or body."
          }
        },
        "security": [
          {
            "firebaseBearer": []
          }
        ]
      }
    },
    "/createTextBlast": {
      "post": {
        "operationId": "createTextBlast",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "params",
                      "amplitudeDeviceId"
                    ],
                    "properties": {
                      "params": {
                        "type": "object",
                        "required": [
                          "eventId",
                          "message"
                        ],
                        "properties": {
                          "eventId": {
                            "type": "string"
                          },
                          "message": {
                            "type": "object",
                            "required": [
                              "text",
                              "to",
                              "showOnEventPage"
                            ],
                            "properties": {
                              "text": {
                                "type": "string",
                                "maxLength": 480
                              },
                              "to": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "showOnEventPage": {
                                "type": "boolean"
                              },
                              "images": {
                                "type": "array",
                                "maxItems": 1,
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              }
                            },
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": true
                      },
                      "amplitudeDeviceId": {
                        "type": "string"
                      },
                      "amplitudeSessionId": {
                        "type": "integer"
                      },
                      "userId": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Response status and body are unknown."
          }
        },
        "security": [
          {
            "firebaseBearer": []
          }
        ]
      }
    },
    "/addInvitedGuestsAsHost": {
      "post": {
        "operationId": "addInvitedGuestsAsHost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "params",
                      "amplitudeDeviceId"
                    ],
                    "properties": {
                      "params": {
                        "type": "object",
                        "properties": {
                          "eventId": {
                            "type": "string"
                          },
                          "guests": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "eventId",
                          "guests"
                        ]
                      },
                      "amplitudeDeviceId": {
                        "type": "string"
                      },
                      "amplitudeSessionId": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "userId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Response status and body are unknown."
          }
        },
        "security": [
          {
            "firebaseBearer": []
          }
        ]
      }
    },
    "/createCohostRequest": {
      "post": {
        "operationId": "createCohostRequest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "params",
                      "amplitudeDeviceId"
                    ],
                    "properties": {
                      "params": {
                        "type": "object",
                        "properties": {
                          "eventId": {
                            "type": "string"
                          },
                          "targetUserId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "eventId",
                          "targetUserId"
                        ]
                      },
                      "amplitudeDeviceId": {
                        "type": "string"
                      },
                      "amplitudeSessionId": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "userId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Response status and body are unknown."
          }
        },
        "security": [
          {
            "firebaseBearer": []
          }
        ]
      }
    },
    "/deleteCohostRequest": {
      "post": {
        "operationId": "deleteCohostRequest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "params",
                      "amplitudeDeviceId"
                    ],
                    "properties": {
                      "params": {
                        "type": "object",
                        "properties": {
                          "eventId": {
                            "type": "string"
                          },
                          "targetUserId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "eventId",
                          "targetUserId"
                        ]
                      },
                      "amplitudeDeviceId": {
                        "type": "string"
                      },
                      "amplitudeSessionId": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "userId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Response status and body are unknown."
          }
        },
        "security": [
          {
            "firebaseBearer": []
          }
        ]
      }
    },
    "/removeCohost": {
      "post": {
        "operationId": "removeCohost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "params",
                      "amplitudeDeviceId"
                    ],
                    "properties": {
                      "params": {
                        "type": "object",
                        "properties": {
                          "eventId": {
                            "type": "string"
                          },
                          "targetUserId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "eventId",
                          "targetUserId"
                        ]
                      },
                      "amplitudeDeviceId": {
                        "type": "string"
                      },
                      "amplitudeSessionId": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "userId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Response status and body are unknown."
          }
        },
        "security": [
          {
            "firebaseBearer": []
          }
        ]
      }
    },
    "/generateEventCohostLink": {
      "post": {
        "operationId": "generateEventCohostLink",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "params",
                      "amplitudeDeviceId"
                    ],
                    "properties": {
                      "params": {
                        "type": "object",
                        "properties": {
                          "eventId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "eventId"
                        ]
                      },
                      "amplitudeDeviceId": {
                        "type": "string"
                      },
                      "amplitudeSessionId": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "userId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Response status and body are unknown."
          }
        },
        "security": [
          {
            "firebaseBearer": []
          }
        ]
      }
    },
    "/revokeEventCohostLink": {
      "post": {
        "operationId": "revokeEventCohostLink",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "params",
                      "amplitudeDeviceId"
                    ],
                    "properties": {
                      "params": {
                        "type": "object",
                        "properties": {
                          "eventId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "eventId"
                        ]
                      },
                      "amplitudeDeviceId": {
                        "type": "string"
                      },
                      "amplitudeSessionId": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "userId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Response status and body are unknown."
          }
        },
        "security": [
          {
            "firebaseBearer": []
          }
        ]
      }
    },
    "/getMyUpcomingEventsForHomePage": {
      "post": {
        "operationId": "getMyUpcomingEventsForHomePage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "params",
                      "amplitudeDeviceId"
                    ],
                    "properties": {
                      "params": {
                        "type": "object",
                        "properties": {},
                        "additionalProperties": false
                      },
                      "amplitudeDeviceId": {
                        "type": "string"
                      },
                      "amplitudeSessionId": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "userId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Observed one-response upcomingEvents array.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "result"
                  ],
                  "properties": {
                    "result": {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "upcomingEvents"
                          ],
                          "properties": {
                            "upcomingEvents": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/HomePageEvent"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unobserved response status or body."
          }
        },
        "security": [
          {
            "firebaseBearer": []
          }
        ]
      }
    },
    "/getMyPastEventsForHomePage": {
      "post": {
        "operationId": "getMyPastEventsForHomePage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "params",
                      "amplitudeDeviceId"
                    ],
                    "properties": {
                      "params": {
                        "type": "object",
                        "properties": {},
                        "additionalProperties": false
                      },
                      "amplitudeDeviceId": {
                        "type": "string"
                      },
                      "amplitudeSessionId": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "userId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Observed one-response pastEvents array.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "result"
                  ],
                  "properties": {
                    "result": {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "pastEvents"
                          ],
                          "properties": {
                            "pastEvents": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/HomePageEvent"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unobserved response status or body."
          }
        },
        "security": [
          {
            "firebaseBearer": []
          }
        ]
      }
    },
    "/addGuest": {
      "post": {
        "operationId": "addGuest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "params"
                    ],
                    "properties": {
                      "params": {
                        "type": "object",
                        "properties": {
                          "eventId": {
                            "type": "string"
                          },
                          "rsvp": {
                            "$ref": "#/components/schemas/RsvpDraft"
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "eventId",
                          "rsvp"
                        ]
                      },
                      "deviceInfo": {},
                      "adminAccessRequested": {},
                      "amplitudeDeviceId": {
                        "type": "string"
                      },
                      "amplitudeSessionId": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "userId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Firebase callable completion accepted by the current first-party client; it does not prove stored business state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddGuestCompletionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unobserved response status or body."
          }
        },
        "security": [
          {
            "firebaseBearer": []
          }
        ]
      }
    },
    "/markEventInterest": {
      "post": {
        "operationId": "markEventInterest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "params"
                    ],
                    "properties": {
                      "params": {
                        "type": "object",
                        "properties": {
                          "eventId": {
                            "type": "string"
                          },
                          "interested": {
                            "type": "boolean"
                          },
                          "source": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "eventId",
                          "interested"
                        ]
                      },
                      "deviceInfo": {},
                      "adminAccessRequested": {},
                      "amplitudeDeviceId": {
                        "type": "string"
                      },
                      "amplitudeSessionId": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "userId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Firebase callable completion accepted by the current first-party client when interested equals the submitted value; it does not independently prove stored business state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarkEventInterestCompletionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unobserved response status or body."
          }
        },
        "security": [
          {
            "firebaseBearer": []
          }
        ]
      }
    },
    "/getCurrentGuest": {
      "post": {
        "operationId": "getCurrentGuest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "params"
                    ],
                    "properties": {
                      "params": {
                        "type": "object",
                        "properties": {
                          "eventId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "eventId"
                        ]
                      },
                      "amplitudeDeviceId": {
                        "type": "string"
                      },
                      "amplitudeSessionId": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "userId": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Observed current guest response for the selected event.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCurrentGuestResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unobserved response status or body."
          }
        },
        "security": [
          {
            "firebaseBearer": []
          }
        ]
      }
    },
    "/v1/projects/getpartiful/databases/(default)/documents/events/{eventId}": {
      "get": {
        "operationId": "firestoreGetEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "Observed with the authenticated request context for both the selected readable event ID and a synthetic missing ID; resource existence and attendee denial are not inferred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirestorePermissionDeniedError"
                }
              }
            }
          },
          "default": {
            "description": "Unobserved response status or body."
          }
        },
        "security": [
          {
            "firebaseBearer": []
          }
        ],
        "servers": [
          {
            "url": "https://firestore.googleapis.com"
          }
        ]
      },
      "patch": {
        "operationId": "firestorePatchEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask.fieldPaths",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "currentDocument.exists",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "currentDocument.updateTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FirestoreWriteDocument"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Official Firestore PATCH protocol completion with a Document. Partiful business state and a complete product Event are not established.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirestoreDocument"
                }
              }
            }
          },
          "default": {
            "description": "Unobserved response status or body."
          }
        },
        "security": [
          {
            "firebaseBearer": []
          }
        ],
        "servers": [
          {
            "url": "https://firestore.googleapis.com"
          }
        ]
      }
    },
    "/v1/projects/getpartiful/databases/(default)/documents/events/{eventId}/guests/{guestId}": {
      "get": {
        "operationId": "firestoreGetGuest",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "guestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Observed current-guest document response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirestoreGuestDocument"
                }
              }
            }
          },
          "default": {
            "description": "Unobserved response status or body."
          }
        },
        "security": [
          {
            "firebaseBearer": []
          }
        ],
        "servers": [
          {
            "url": "https://firestore.googleapis.com"
          }
        ]
      }
    },
    "/v1/projects/getpartiful/databases/(default)/documents/{collectionPath}": {
      "get": {
        "operationId": "firestoreListDocuments",
        "parameters": [
          {
            "name": "collectionPath",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Response status and body are unknown."
          }
        },
        "security": [
          {
            "firebaseBearer": []
          }
        ],
        "servers": [
          {
            "url": "https://firestore.googleapis.com"
          }
        ]
      }
    },
    "/v1/token": {
      "post": {
        "operationId": "refreshToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "refresh_token"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "refresh_token"
                    ]
                  },
                  "refresh_token": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refreshed Firebase session tokens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired refresh token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirebaseTokenError"
                }
              }
            }
          },
          "default": {
            "description": "Response status and body are unknown."
          }
        },
        "security": [
          {
            "firebaseApiKey": []
          }
        ],
        "servers": [
          {
            "url": "https://securetoken.googleapis.com"
          }
        ],
        "parameters": [
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "const": "https://partiful.com/"
            },
            "description": "Observed accepted Referer value for the Firebase API key restriction. Requests without an allowed Referer receive 403 API_KEY_HTTP_REFERRER_BLOCKED; other accepted values remain unknown."
          }
        ]
      }
    },
    "/sendAuthCodeTrusted": {
      "post": {
        "operationId": "sendAuthCodeTrusted",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "params",
                      "amplitudeDeviceId"
                    ],
                    "properties": {
                      "params": {
                        "type": "object",
                        "required": [
                          "displayName",
                          "phoneNumber",
                          "silent",
                          "channelPreference",
                          "captchaToken",
                          "useAppleBusinessUpdates"
                        ],
                        "properties": {
                          "displayName": {
                            "type": "string"
                          },
                          "phoneNumber": {
                            "type": "string"
                          },
                          "silent": {
                            "type": "boolean"
                          },
                          "channelPreference": {
                            "type": "string",
                            "enum": [
                              "sms"
                            ]
                          },
                          "captchaToken": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "useAppleBusinessUpdates": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      },
                      "amplitudeDeviceId": {
                        "type": "string"
                      },
                      "amplitudeSessionId": {
                        "type": "integer",
                        "format": "int64"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "HTTP 200 observed. Body shape is unclaimed; auth login uses no send-response field."
          },
          "default": {
            "description": "Response status and body are unknown."
          }
        }
      }
    },
    "/getLoginToken": {
      "post": {
        "operationId": "getLoginToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "params",
                      "amplitudeDeviceId"
                    ],
                    "properties": {
                      "params": {
                        "type": "object",
                        "required": [
                          "phoneNumber",
                          "authCode",
                          "affiliateId",
                          "utms"
                        ],
                        "properties": {
                          "phoneNumber": {
                            "type": "string"
                          },
                          "authCode": {
                            "type": "string"
                          },
                          "affiliateId": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utms": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "amplitudeDeviceId": {
                        "type": "string"
                      },
                      "amplitudeSessionId": {
                        "type": "integer",
                        "format": "int64"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login token in callable result envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginTokenResponse"
                }
              }
            }
          },
          "403": {
            "description": "Invalid authentication code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallableAuthError"
                }
              }
            }
          },
          "default": {
            "description": "Response status and body are unknown."
          }
        }
      }
    },
    "/v1/accounts:signInWithCustomToken": {
      "post": {
        "operationId": "signInWithCustomToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "returnSecureToken"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "returnSecureToken": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Firebase session tokens from custom token exchange.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirebaseSignInResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired custom token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirebaseValidationError"
                }
              }
            }
          },
          "default": {
            "description": "Response status and body are unknown."
          }
        },
        "security": [
          {
            "firebaseApiKey": []
          }
        ],
        "servers": [
          {
            "url": "https://identitytoolkit.googleapis.com"
          }
        ],
        "parameters": [
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "const": "https://partiful.com/"
            },
            "description": "Observed accepted Referer value for the Firebase API key restriction. Requests without an allowed Referer receive 403 API_KEY_HTTP_REFERRER_BLOCKED; other accepted values remain unknown."
          }
        ]
      }
    },
    "/v1/accounts:lookup": {
      "post": {
        "operationId": "lookupFirebaseUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "idToken"
                ],
                "properties": {
                  "idToken": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Firebase user records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirebaseLookupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired ID token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirebaseValidationError"
                }
              }
            }
          },
          "default": {
            "description": "Response status and body are unknown."
          }
        },
        "security": [
          {
            "firebaseApiKey": []
          }
        ],
        "servers": [
          {
            "url": "https://identitytoolkit.googleapis.com"
          }
        ],
        "parameters": [
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "const": "https://partiful.com/"
            },
            "description": "Observed accepted Referer value for the Firebase API key restriction. Requests without an allowed Referer receive 403 API_KEY_HTTP_REFERRER_BLOCKED; other accepted values remain unknown."
          }
        ]
      }
    },
    "/uploadPhoto": {
      "post": {
        "operationId": "uploadEventPhoto",
        "parameters": [
          {
            "name": "uploadType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "event_poster"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Response status and body are unknown."
          }
        },
        "security": [
          {
            "firebaseBearer": []
          }
        ],
        "servers": [
          {
            "url": "https://us-central1-getpartiful.cloudfunctions.net"
          }
        ]
      }
    },
    "/posters.json": {
      "get": {
        "operationId": "getPosterCatalog",
        "responses": {
          "200": {
            "description": "Complete poster catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Poster"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Response status and body are unknown."
          }
        },
        "servers": [
          {
            "url": "https://assets.getpartiful.com"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "firebaseBearer": {
        "type": "http",
        "scheme": "bearer"
      },
      "firebaseApiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "x-publicValue": "AIzaSyCky6PJ7cHRdBKk5X7gjuWERWaKWBHr4_k",
        "description": "Public Firebase web API key for Partiful (embedded in client). Value: AIzaSyCky6PJ7cHRdBKk5X7gjuWERWaKWBHr4_k"
      }
    },
    "schemas": {
      "EventDraft": {
        "type": "object",
        "required": [
          "title",
          "startDate",
          "timezone",
          "guestStatusCounts",
          "displaySettings",
          "status",
          "rsvpButtonGlyphType",
          "image",
          "showHostList",
          "showGuestCount",
          "showGuestList",
          "showActivityTimestamps",
          "displayInviteButton",
          "visibility",
          "allowGuestPhotoUpload",
          "enableGuestReminders",
          "rsvpsEnabled",
          "allowGuestsToInviteMutuals"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "startDate": {
            "type": "string"
          },
          "endDate": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "guestStatusCounts": {
            "$ref": "#/components/schemas/NewEventGuestStatusCounts"
          },
          "displaySettings": {
            "$ref": "#/components/schemas/EventDisplaySettings"
          },
          "status": {
            "type": "string",
            "const": "UNSAVED"
          },
          "rsvpButtonGlyphType": {
            "type": "string",
            "const": "emojis"
          },
          "image": {
            "$ref": "#/components/schemas/PartifulPosterImage"
          },
          "showHostList": {
            "type": "boolean",
            "const": true
          },
          "showGuestCount": {
            "type": "boolean",
            "const": true
          },
          "showGuestList": {
            "type": "boolean",
            "const": true
          },
          "showActivityTimestamps": {
            "type": "boolean",
            "const": true
          },
          "displayInviteButton": {
            "type": "boolean",
            "const": true
          },
          "visibility": {
            "type": "string",
            "const": "public"
          },
          "allowGuestPhotoUpload": {
            "type": "boolean",
            "const": true
          },
          "enableGuestReminders": {
            "type": "boolean",
            "const": true
          },
          "rsvpsEnabled": {
            "type": "boolean",
            "const": true
          },
          "allowGuestsToInviteMutuals": {
            "type": "boolean",
            "const": true
          },
          "description": {
            "type": "string"
          },
          "locationInfo": {
            "$ref": "#/components/schemas/EventLocationInfo"
          },
          "isPublic": {
            "type": "boolean"
          },
          "maxCapacity": {
            "type": "integer",
            "minimum": 1
          },
          "enableWaitlist": {
            "type": "boolean"
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventCustomField"
            }
          }
        },
        "additionalProperties": true
      },
      "RsvpDraft": {
        "type": "object",
        "required": [
          "name",
          "count",
          "plusOnes",
          "status",
          "timezone",
          "shouldFollowOrgs"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "count": {
            "type": "integer",
            "minimum": 1
          },
          "plusOnes": {
            "type": "array",
            "items": {}
          },
          "message": {
            "type": "string",
            "maxLength": 400
          },
          "emailInvitationId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "GOING",
              "MAYBE",
              "DECLINED"
            ]
          },
          "guestId": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "questionnaireResponse": {
            "$ref": "#/components/schemas/RsvpQuestionnaireResponse"
          },
          "shouldFollowOrgs": {
            "type": "boolean",
            "const": false
          }
        },
        "additionalProperties": false
      },
      "RsvpQuestionnaireResponse": {
        "type": "object",
        "properties": {
          "questionnaireVersion": {
            "type": "integer",
            "minimum": 0
          },
          "answers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "questionnaireVersion",
          "answers"
        ],
        "additionalProperties": false
      },
      "AddGuestCompletionResponse": {
        "type": "object",
        "required": [
          "result"
        ],
        "properties": {
          "result": {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "description": "Completion data is not constrained by the current client."
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "MarkEventInterestCompletionResponse": {
        "type": "object",
        "required": [
          "result"
        ],
        "properties": {
          "result": {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "description": "The current client applies a truthy success and matching interested predicate; the remote value types remain unconstrained."
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "CallableResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "data": {}
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "FirestoreValue": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "nullValue"
            ],
            "properties": {
              "nullValue": {
                "type": "string",
                "const": "NULL_VALUE"
              }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": [
              "booleanValue"
            ],
            "properties": {
              "booleanValue": {
                "type": "boolean"
              }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": [
              "integerValue"
            ],
            "properties": {
              "integerValue": {
                "type": "string",
                "pattern": "^-?[0-9]+$"
              }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": [
              "doubleValue"
            ],
            "properties": {
              "doubleValue": {
                "oneOf": [
                  {
                    "type": "number"
                  },
                  {
                    "type": "string",
                    "enum": [
                      "NaN",
                      "Infinity",
                      "-Infinity"
                    ]
                  }
                ]
              }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": [
              "timestampValue"
            ],
            "properties": {
              "timestampValue": {
                "type": "string",
                "format": "date-time"
              }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": [
              "stringValue"
            ],
            "properties": {
              "stringValue": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": [
              "bytesValue"
            ],
            "properties": {
              "bytesValue": {
                "type": "string",
                "format": "byte"
              }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": [
              "referenceValue"
            ],
            "properties": {
              "referenceValue": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": [
              "geoPointValue"
            ],
            "properties": {
              "geoPointValue": {
                "$ref": "#/components/schemas/FirestoreLatLng"
              }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": [
              "arrayValue"
            ],
            "properties": {
              "arrayValue": {
                "$ref": "#/components/schemas/FirestoreArrayValue"
              }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": [
              "mapValue"
            ],
            "properties": {
              "mapValue": {
                "$ref": "#/components/schemas/FirestoreMapValue"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "FirestoreDocument": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/FirestoreValue"
            }
          },
          "createTime": {
            "type": "string",
            "format": "date-time"
          },
          "updateTime": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "FirestoreWriteDocument": {
        "type": "object",
        "required": [
          "fields"
        ],
        "properties": {
          "fields": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/FirestoreValue"
            }
          }
        },
        "additionalProperties": false
      },
      "FirestoreListResponse": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FirestoreDocument"
            }
          },
          "nextPageToken": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "RefreshTokenResponse": {
        "type": "object",
        "required": [
          "access_token",
          "refresh_token",
          "id_token",
          "expires_in",
          "token_type"
        ],
        "properties": {
          "access_token": {
            "type": "string"
          },
          "expires_in": {
            "type": "string"
          },
          "id_token": {
            "type": "string"
          },
          "project_id": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "FirebaseSignInResponse": {
        "type": "object",
        "required": [
          "idToken",
          "refreshToken",
          "expiresIn"
        ],
        "properties": {
          "idToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "FirebaseLookupResponse": {
        "type": "object",
        "required": [
          "users"
        ],
        "properties": {
          "kind": {
            "type": "string"
          },
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FirebaseLookupUser"
            }
          }
        },
        "additionalProperties": true
      },
      "UploadData": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "contentType": {
            "type": "string"
          },
          "height": {
            "type": "integer"
          },
          "width": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "UploadPhotoResponse": {
        "type": "object",
        "properties": {
          "uploadData": {
            "$ref": "#/components/schemas/UploadData"
          },
          "result": {
            "type": "object",
            "properties": {
              "uploadData": {
                "$ref": "#/components/schemas/UploadData"
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "Poster": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "blurHash": {
            "type": "string"
          },
          "contentType": {
            "type": "string"
          },
          "height": {
            "type": [
              "integer",
              "null"
            ]
          },
          "width": {
            "type": [
              "integer",
              "null"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": true,
        "required": [
          "id",
          "name",
          "url",
          "contentType",
          "width",
          "height",
          "tags",
          "categories"
        ]
      },
      "LoginTokenResponse": {
        "type": "object",
        "required": [
          "result"
        ],
        "properties": {
          "result": {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  }
                },
                "additionalProperties": true
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "FirebaseLookupUser": {
        "type": "object",
        "required": [
          "localId"
        ],
        "properties": {
          "localId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "photoUrl": {
            "type": "string"
          },
          "customAuth": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "lastLoginAt": {
            "type": "string"
          },
          "lastRefreshAt": {
            "type": "string"
          },
          "validSince": {
            "type": "string"
          },
          "providerUserInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FirebaseProviderUserInfo"
            }
          }
        },
        "additionalProperties": true
      },
      "FirebaseProviderUserInfo": {
        "type": "object",
        "properties": {
          "providerId": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "rawId": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "CallableAuthError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message",
              "status"
            ],
            "properties": {
              "message": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "details": {
                "type": "object",
                "properties": {
                  "authErrorCode": {
                    "type": "string"
                  }
                },
                "additionalProperties": true
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "FirebaseValidationError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "number"
              },
              "message": {
                "type": "string"
              },
              "errors": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": true
                }
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "FirebaseTokenError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "number"
              },
              "message": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "EventStatus": {
        "type": "string",
        "enum": [
          "UNSAVED",
          "PUBLISHED",
          "CANCELED"
        ]
      },
      "GuestStatus": {
        "type": "string",
        "enum": [
          "READY_TO_SEND",
          "SENDING",
          "SEND_ERROR",
          "DELIVERY_ERROR",
          "SENT",
          "INTERESTED",
          "WAITLIST",
          "MAYBE",
          "DECLINED",
          "GOING",
          "PENDING_APPROVAL",
          "APPROVED",
          "WITHDRAWN",
          "WAITLISTED_FOR_APPROVAL",
          "REJECTED",
          "RESPONDED_TO_FIND_A_TIME"
        ]
      },
      "HomePageEvent": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "startDate": {
            "type": "string"
          },
          "endDate": {
            "type": [
              "string",
              "null"
            ]
          },
          "timezone": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/EventStatus"
          },
          "ownerIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "location": {
            "type": [
              "string",
              "null"
            ]
          },
          "displaySettings": {
            "type": "object"
          },
          "image": {
            "type": [
              "object",
              "null"
            ]
          },
          "guest": {
            "type": "object",
            "properties": {
              "status": {
                "$ref": "#/components/schemas/GuestStatus"
              }
            }
          }
        }
      },
      "EventInfo": {
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "startDate": {
            "type": "string"
          },
          "endDate": {
            "type": [
              "string",
              "null"
            ]
          },
          "timezone": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/EventStatus"
          },
          "description": {},
          "displaySettings": {
            "type": "object"
          },
          "image": {
            "type": [
              "object",
              "null"
            ]
          },
          "visibility": {},
          "ownerIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "guestCount": {},
          "guestStatusCounts": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          },
          "hasGuests": {
            "type": "boolean"
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventCustomField"
            }
          },
          "rsvpsEnabled": {
            "type": "boolean"
          },
          "atCapacity": {
            "type": "boolean"
          },
          "plusOneNamesRequired": {
            "type": "boolean"
          },
          "questionnaireEnabled": {
            "type": "boolean"
          },
          "questionnaireVersions": {
            "type": [
              "array",
              "null"
            ],
            "items": {}
          },
          "ticketing": {
            "type": [
              "object",
              "null"
            ]
          },
          "guestAction": {
            "type": "string",
            "enum": [
              "APPLY",
              "RSVP"
            ]
          },
          "maxCountPerGuest": {
            "type": "number"
          },
          "maxCapacity": {
            "type": [
              "number",
              "null"
            ]
          },
          "remainingCapacity": {
            "type": "number"
          },
          "enableWaitlist": {
            "type": [
              "boolean",
              "null"
            ]
          }
        }
      },
      "GetEventInfoResponse": {
        "type": "object",
        "required": [
          "result"
        ],
        "properties": {
          "result": {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "type": "object",
                "required": [
                  "event"
                ],
                "properties": {
                  "event": {
                    "$ref": "#/components/schemas/EventInfo"
                  }
                }
              }
            }
          }
        }
      },
      "CallableNotFoundError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message",
              "status"
            ],
            "properties": {
              "message": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "const": "NOT_FOUND"
              }
            }
          }
        }
      },
      "CurrentGuest": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "count": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "plusOnes": {},
          "status": {
            "$ref": "#/components/schemas/GuestStatus"
          },
          "userId": {}
        }
      },
      "GetCurrentGuestResponse": {
        "type": "object",
        "required": [
          "result"
        ],
        "properties": {
          "result": {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "type": "object",
                "required": [
                  "currentGuest"
                ],
                "properties": {
                  "currentGuest": {
                    "$ref": "#/components/schemas/CurrentGuest"
                  }
                }
              }
            }
          }
        }
      },
      "FirestoreObservedStringValue": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        }
      },
      "FirestoreGuestDocument": {
        "type": "object",
        "required": [
          "name",
          "fields",
          "createTime",
          "updateTime"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "fields": {
            "type": "object",
            "required": [
              "count",
              "createdAt",
              "name",
              "status"
            ],
            "properties": {
              "count": {
                "$ref": "#/components/schemas/FirestoreObservedStringValue"
              },
              "createdAt": {
                "$ref": "#/components/schemas/FirestoreObservedStringValue"
              },
              "name": {
                "$ref": "#/components/schemas/FirestoreObservedStringValue"
              },
              "status": {
                "$ref": "#/components/schemas/FirestoreObservedStringValue"
              }
            }
          },
          "createTime": {
            "type": "string"
          },
          "updateTime": {
            "type": "string"
          }
        }
      },
      "FirestorePermissionDeniedError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "status"
            ],
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "const": "PERMISSION_DENIED"
              }
            }
          }
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "name",
          "sharedEventCount"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "sharedEventCount": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "GetContactsResponse": {
        "type": "object",
        "required": [
          "result"
        ],
        "properties": {
          "result": {
            "type": "object",
            "required": [
              "data",
              "paging"
            ],
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Contact"
                }
              },
              "paging": {
                "type": "object",
                "properties": {
                  "nextCursor": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "CallableUnauthenticatedError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message",
              "status"
            ],
            "properties": {
              "message": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "const": "UNAUTHENTICATED"
              }
            }
          }
        }
      },
      "NewEventGuestStatusCounts": {
        "type": "object",
        "required": [
          "READY_TO_SEND",
          "SENDING",
          "SENT",
          "SEND_ERROR",
          "DELIVERY_ERROR",
          "INTERESTED",
          "MAYBE",
          "GOING",
          "DECLINED",
          "WAITLIST",
          "PENDING_APPROVAL",
          "APPROVED",
          "WITHDRAWN",
          "RESPONDED_TO_FIND_A_TIME",
          "WAITLISTED_FOR_APPROVAL",
          "REJECTED"
        ],
        "properties": {
          "READY_TO_SEND": {
            "type": "integer",
            "const": 0
          },
          "SENDING": {
            "type": "integer",
            "const": 0
          },
          "SENT": {
            "type": "integer",
            "const": 0
          },
          "SEND_ERROR": {
            "type": "integer",
            "const": 0
          },
          "DELIVERY_ERROR": {
            "type": "integer",
            "const": 0
          },
          "INTERESTED": {
            "type": "integer",
            "const": 0
          },
          "MAYBE": {
            "type": "integer",
            "const": 0
          },
          "GOING": {
            "type": "integer",
            "const": 0
          },
          "DECLINED": {
            "type": "integer",
            "const": 0
          },
          "WAITLIST": {
            "type": "integer",
            "const": 0
          },
          "PENDING_APPROVAL": {
            "type": "integer",
            "const": 0
          },
          "APPROVED": {
            "type": "integer",
            "const": 0
          },
          "WITHDRAWN": {
            "type": "integer",
            "const": 0
          },
          "RESPONDED_TO_FIND_A_TIME": {
            "type": "integer",
            "const": 0
          },
          "WAITLISTED_FOR_APPROVAL": {
            "type": "integer",
            "const": 0
          },
          "REJECTED": {
            "type": "integer",
            "const": 0
          }
        },
        "additionalProperties": false
      },
      "EventDisplaySettings": {
        "type": "object",
        "required": [
          "theme",
          "effect",
          "titleFont"
        ],
        "properties": {
          "theme": {
            "type": "string"
          },
          "effect": {
            "type": "string"
          },
          "titleFont": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "additionalProperties": true
      },
      "EventLocationInfo": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "freeform",
              "structured"
            ]
          },
          "value": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "EventCustomField": {
        "type": "object",
        "required": [
          "icon",
          "value"
        ],
        "properties": {
          "icon": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        },
        "additionalProperties": true
      },
      "PartifulPosterImage": {
        "type": "object",
        "required": [
          "source",
          "poster",
          "url",
          "blurHash",
          "contentType",
          "name",
          "height",
          "width"
        ],
        "properties": {
          "source": {
            "type": "string",
            "const": "partiful_posters"
          },
          "poster": {
            "$ref": "#/components/schemas/Poster"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "blurHash": {
            "type": [
              "string",
              "null"
            ]
          },
          "contentType": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "height": {
            "type": [
              "number",
              "null"
            ]
          },
          "width": {
            "type": [
              "number",
              "null"
            ]
          }
        },
        "additionalProperties": false
      },
      "CreateEventCompletionResponse": {
        "anyOf": [
          {
            "type": "object",
            "required": [
              "result"
            ],
            "properties": {
              "result": {}
            },
            "additionalProperties": true
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {}
            },
            "additionalProperties": true
          }
        ]
      },
      "CancelEventCompletionResponse": {
        "anyOf": [
          {
            "type": "object",
            "required": [
              "result"
            ],
            "properties": {
              "result": {}
            },
            "additionalProperties": true
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {}
            },
            "additionalProperties": true
          }
        ]
      },
      "FirestoreLatLng": {
        "type": "object",
        "required": [
          "latitude",
          "longitude"
        ],
        "properties": {
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          }
        },
        "additionalProperties": false
      },
      "FirestoreArrayValue": {
        "type": "object",
        "properties": {
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FirestoreValue"
            }
          }
        },
        "additionalProperties": false
      },
      "FirestoreMapValue": {
        "type": "object",
        "properties": {
          "fields": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/FirestoreValue"
            }
          }
        },
        "additionalProperties": false
      }
    }
  }
}
